
.nav-tabs {
    border: none;
    background-image: linear-gradient(to right top, #051937, #000000, #000a0d, #750099, #c41e21); 
  }
  
  
  .nav-tabs:hover {
    border: 10px;
    background-image: linear-gradient(to right top, #051937, #000000, #000a0d, #750099, #c41e21); 
  }

