.body {
  font-family: "Montserrat";
}

.nav {
  display: flex;
  justify-content: center;
  margin: 0px;
}

h1 {
  color: white;
  margin-top:30px;
  font-size: 45px ;
}

h2 {
  margin: 20px;
  color: white;

}

h3 {
  margin:20px;
  color: white;
}
h4 {
color: white;
  }

p {
  margin: 30px;
  color: white;
}

.nav-tabs {
  border: 0px;
  background-image: linear-gradient(to right top, #051937, #000000, #000a0d, #750099, #c41e21); 
}

.card-title {
 display: flex;
 justify-content: center;
}

.btn {
  font-size: 20px !important;
  color:rgb(255, 255, 255) !important;
  text-decoration: none !important;
  background-color: #750099!important;
  border: 0px!important;
  margin: 10px !important;

}

.mb-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.image-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.intro-image {
width: 50%;
}


.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-text {
margin:30px;
}

.row {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.card {
  margin: 20px;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 25px;
    
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}